.hotel-video-container {
  margin: 20px auto;
  text-align: center;
  max-width: 900px;
  padding-bottom: 100px;
}

.hotel-video {
  margin-bottom: 20px;
}

.hotel-video-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.hotel-video-description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}
